@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.meter {
  height: 20px;
  position: relative;
  background: #f3efef;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e9343f;
  position: relative;
  overflow: hidden;
}

.skill {
  line-height: 3.5vw;
}

.skill-bars {
  font-size: 28px;
  width: 40%;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.skills-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 30px;
}

.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

button {
  border: none;
  background: none;
  padding: 0px;
}

.hero__arrow__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media (prefers-color-scheme: light) {
  .com {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #adadad;
  }
  .com span {
    font-size: 1.5em;
    color: #2c2c2c;
    text-shadow: 7px 5px 11px rgba(118, 118, 118, 0.56);
  }
  .hero__arrow__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    width: 250px;
    height: 350px;
    -webkit-box-shadow: 0px 10px 1px #f0f0f0;
            box-shadow: 0px 10px 1px #f0f0f0;
    background-color: #d1ecfd;
    margin: 20px;
  }
  .hero__arrow__block div img {
    width: 40%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__arrow__block div p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    color: #121212;
  }
  .hero__arrow__block:hover {
    background-color: #4550e8;
    -webkit-box-shadow: 0px 10px 1px #f0f0f0;
            box-shadow: 0px 10px 1px #f0f0f0;
  }
  .hero__arrow__block:hover p {
    color: #ffffff;
  }
  .dialog {
    background-color: #ffffff;
    color: #2c2c2c;
  }
  .dialog2 p {
    color: #2c2c2c;
  }
}

@media (prefers-color-scheme: dark) {
  .com {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #f0f0f0;
  }
  .com span {
    font-size: 1.5em;
    color: #b67b22;
    text-shadow: none;
  }
  .hero__arrow__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    width: 250px;
    height: 350px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #2c2c2c;
    margin: 20px;
  }
  .hero__arrow__block div img {
    width: 40%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__arrow__block div p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    color: #f0f0f0;
  }
  .hero__arrow__block:hover {
    background-color: #5468e7;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .hero__arrow__block:hover p {
    color: #f0f0f0;
  }
  .dialog {
    background-color: #121212;
    color: #f0f0f0;
  }
  .dialog2 p {
    color: #f0f0f0;
  }
}

/* Media Query */
@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    display: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .com {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .skills-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .com {
    font-size: 30px;
  }
  .hero__arrow__big {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=Progress.css.map */