$white: #ffffff;
$grey: #f8f5f9;
$grey1: #f0f0f0;
$grey2: #b8b8b8;
$grey3: #606060;
$grey4: #adadad;
$black: #121212;
$black2:rgb(44, 44, 44);
$blue: #232340;
$blue2: #252733;
$blue3: #d1ecfd;
$yellow: #e99e2d;
$yellow2: #b67b22;
$violet1: #4550e8;
$violet2: #5468e7;
$violet3: #3b4bb1;

.meter {
    height: 20px;
    position: relative;
    background: rgb(243, 239, 239);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #e9343f;
    position: relative;
    overflow: hidden;
}

.skill {
    line-height: 3.5vw;
}

.skill-bars {
    font-size: 28px;
    width: 40%;
}

.skills-container {
    display: flex;
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
}

.skills-container>* {
    flex: 1;
    margin-bottom: 30px;
}

.skills-image>img {
    margin-left: 80px;
    max-width: 90%;
    height: auto;
}

button {
    border: none;
    background: none;
    padding: 0px;

}

.hero__arrow__big {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

@media (prefers-color-scheme: light) {
    .com {
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        color: $grey4;

        & span {
            font-size: 1.5em;
            color: $black2;
            text-shadow: 7px 5px 11px rgba(118, 118, 118, 0.56);
        }
    }

    .hero__arrow__block {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
        transition: 300ms;
        width: 250px;
        height: 350px;
        box-shadow: 0px 10px 1px $grey1;
        background-color: $blue3;
        margin: 20px;

        & div {
            & img {
                width: 40%;
                height: auto;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            & p {
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-size: 1.2em;
                font-weight: 800;
                color: $black;
            }
        }
    }

    .hero__arrow__block:hover {
        background-color: $violet1;
        box-shadow: 0px 10px 1px $grey1;

        & p {
            color: $white;
        }
    }
    .dialog {
        background-color: $white;
        color: $black2;
    }
    .dialog2 {
        & p {
            color: $black2;
        }
    }
}
@media (prefers-color-scheme: dark) {
    .com {
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        color: $grey1;

        & span {
            font-size: 1.5em;
            color: $yellow2;
      text-shadow: none;
        }
    }

    .hero__arrow__block {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
        transition: 300ms;
        width: 250px;
        height: 350px;
        box-shadow: none;
        background-color: $black2;
        margin: 20px;

        & div {
            & img {
                width: 40%;
                height: auto;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            & p {
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-size: 1.2em;
                font-weight: 800;
                color: $grey1;
            }
        }
    }

    .hero__arrow__block:hover {
        background-color: $violet2;
        box-shadow: none;

        & p {
            color: $grey1;
        }
    }
    .dialog {
        background-color: $black;
        color: $grey1;
    }
    .dialog2 {
        & p {
            color: $grey1;
        }
    }
}

/* Media Query */

@media (max-width: 1456px) {
    .skills-bar {
        line-height: 4rem;
    }

    .skills-image {
        display: none;
        order: 2;
    }

    .com {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column
    }

    .skills-bar {
        line-height: 3rem;
        margin: 20px;
    }

    .skills-image {
        display: none;
        order: 2;
    }

    .com {
        font-size: 30px;
    }

    .hero__arrow__big {
        margin-top: 25px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');