$white: #ffffff;
$grey: #f8f5f9;
$grey1: #f0f0f0;
$grey2: #b8b8b8;
$grey3: #606060;
$grey4: #adadad;
$black: #121212;
$black2:rgb(44, 44, 44);
$blue: #232340;
$blue2: #252733;
$blue3: #d1ecfd;
$yellow: #e99e2d;
$yellow2: #b67b22;
$violet1: #4550e8;
$violet2: #5468e7;
$violet3: #3b4bb1;

a {
  text-decoration: none;
}

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 5rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main>* {
  flex: 1;
  margin-bottom: 30px;
}

@media (prefers-color-scheme: light) {
  .button-greeting-div {
    display: flex;
    margin-top: 20px;

    & .btn-contact {
      width: 250px;
      display: block;
      height: 65px;
      font-size: 1em;
      font-weight: 600;
      border-radius: 20px;
      font-family: 'Leto', sans-serif;
      transition: 300ms;
      cursor: pointer;
      background-color: $white;
      color: $black2;
      border: 2px solid $black2;
    }

    & .btn-contact:hover {
      background-color: $black2;
      color: $white;
    }

  }

  .greeting-text {
    font-size: 70px;
    line-height: 1.1;
  }

  .greeting-text-p {
    font-size: 30px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: $grey4;

    & span {
      font-size: 1.5em;
      color: $black2;
      text-shadow: 7px 5px 11px rgba(118, 118, 118, 0.56);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .button-greeting-div {
    display: flex;
    margin-top: 20px;

    & .btn-contact {
      width: 250px;
      display: block;
      height: 65px;
      font-size: 1em;
      font-weight: 600;
      border-radius: 20px;
      font-family: 'Leto', sans-serif;
      transition: 300ms;
      cursor: pointer;
      background-color: $black2;
      color: $grey1;
      border: 2px solid $black2;
    }

    & .btn-contact:hover {
      opacity: 60%;
    }

  }

  .greeting-text {
    font-size: 70px;
    line-height: 1.1;
  }

  .greeting-text-p {
    font-size: 30px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: $grey1;

    & span {
      font-size: 1.5em;
      color: $yellow2;
      text-shadow: none;
    }
  }
}

.greeting-image-div {
  display: block;
  align-self: center;

  & .img-main {
    max-width: 60%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & .img-second {
    width: 15%;
    height: auto;
    position: absolute;
    top: 40%;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: wave2;
    transform-origin: 20% 20%;
  }

  & .img-second2 {
    width: 45%;
    height: auto;
    position: absolute;
    top: 30%;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: wave2;
    transform-origin: 80% 80%;
  }
}


@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave2 {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(12deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(9deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }

  .greeting-text-p {
    font-size: 20px;
  }

  .button-greeting-div {

    & .btn-contact {
      width: 200px;
      height: 55px;
    }
  }

  .greet-main {
    margin-top: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .greet-main {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }

  .greeting-text {
    font-size: 30px;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 25px !important;
    line-height: normal;
    text-align: center;
  }

  .greeting-main {
    display: flex;
    flex-direction: column-reverse;
  }

  .wave-emoji {
    width: 50px;
    height: auto;
  }

  .greeting-main>* {
    margin-bottom: 10px;
  }

  .greeting-image-div {
    & .img-main {
      max-width: 75%;
    }

    & .img-second {
      width: 40%;
      top: 100px;
    }

    & .img-second2 {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .greeting-text-p {
    font-size: 20px !important;
    line-height: normal;
    text-align: center;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');