$white: #ffffff;
$grey: #f8f5f9;
$grey1: #f0f0f0;
$grey2: #b8b8b8;
$grey3: #606060;
$grey4: #adadad;
$black: #121212;
$black2:rgb(44, 44, 44);
$blue: #232340;
$blue2: #252733;
$blue3: #d1ecfd;
$yellow: #e99e2d;
$yellow2: #b67b22;
$violet1: #4550e8;
$violet2: #5468e7;
$violet3: #3b4bb1;

.contact-div-main {
    display: flex;
}

.contact-div-main>* {
    flex: 1;
}

@media (prefers-color-scheme: light) {
    .contact-title {
        font-size: 50px;
        line-height: 60px;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        color: $grey4;

        & span {
            font-size: 1.5em;
            color: $black2;
            text-shadow: 7px 5px 11px rgba(118, 118, 118, 0.56);
        }
    }

    .contact-detail,
    .contact-detail-email {
        font-family: 'Lato', sans-serif;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 400;
        color: $black2;
        text-decoration: none;
        transition: 300ms;
    }

    .contact-detail:hover,
    .contact-detail-email:hover {
        color: $yellow;
    }

    .contact-subtitle {
        text-transform: uppercase;
    }

    .contact-text-div {
        margin-top: 100px;
    }

    .contact-margin-top {
        margin-top: 4rem;
    }

    .contact-image-div {
        width: 100%;
        background-color: $black2;
        padding: 20px;
        border-radius: 30px;
        margin-top: 50px;
        box-shadow: 0px 10px 1px $grey1;

        & form {
            margin: 0px;
            width: 100%;

            & .inputBox {
                display: flex;
                margin-bottom: 10px;

                & input {
                    width: 100%;
                    margin: 10px;
                    padding: 20px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    border: none;
                    border-radius: 15px;
                    font-size: 1.2em;
                }

                & textarea {
                    width: 100%;
                    margin: 10px;
                    padding: 20px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    border: none;
                    border-radius: 15px;
                    font-size: 1.2em;
                }
            }

            & .send {
                width: 150px;
                margin: 10px;
                padding: 20px;

                font-family: 'Lato', sans-serif;
                font-weight: 600;
                border-radius: 15px;
                font-size: 1.2em;
                cursor: pointer;
                transition: 300ms;
                background-color: $white;
                color: $black2;
                border: 2px solid $white;
            }

            & .send:hover {
                background-color: $black2;
                color: $white;
                border: 2px solid $white;
            }
        }
    }
}
@media (prefers-color-scheme: dark) {
    .contact-title {
        font-size: 50px;
        line-height: 60px;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        color: $grey1;

        & span {
            font-size: 1.5em;
            color: $yellow2;
      text-shadow: none;
        }
    }

    .contact-detail,
    .contact-detail-email {
        font-family: 'Lato', sans-serif;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 400;
        color: $grey1;
        text-decoration: none;
        transition: 300ms;
    }

    .contact-detail:hover,
    .contact-detail-email:hover {
        color: $yellow2;
    }

    .contact-subtitle {
        text-transform: uppercase;
    }

    .contact-text-div {
        margin-top: 100px;
    }

    .contact-margin-top {
        margin-top: 4rem;
    }

    .contact-image-div {
        width: 100%;
        background-color: $black2;
        padding: 20px;
        border-radius: 30px;
        margin-top: 50px;
        box-shadow: none;

        & form {
            margin: 0px;
            width: 100%;

            & .inputBox {
                display: flex;
                margin-bottom: 10px;

                & input {
                    width: 100%;
                    margin: 10px;
                    padding: 20px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    border: none;
                    border-radius: 15px;
                    font-size: 1.2em;
                    background-color: $black;
                    color: $grey1;
                }

                & textarea {
                    width: 100%;
                    margin: 10px;
                    padding: 20px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    border: none;
                    border-radius: 15px;
                    font-size: 1.2em;
                    background-color: $black;
                    color: $grey1;
                }
            }

            & .send {
                width: 150px;
                margin: 10px;
                padding: 20px;

                font-family: 'Lato', sans-serif;
                font-weight: 600;
                border-radius: 15px;
                font-size: 1.2em;
                cursor: pointer;
                transition: 300ms;
                background-color: $black;
                color: $grey1;
                border: 2px solid $black;
            }

            & .send:hover {
                opacity: 60%;
            }
        }
    }
}
/* Media Query */
@media (max-width: 1380px),
(max-width: 768px) {

    .contact-title {
        font-size: 40px;
        text-align: center;
    }

    .contact-subtitle {
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }

    .contact-text-div {
        text-align: center;
        margin-top: 1.5rem;
    }

    .contact-detail,
    .contact-detail-email {
        font-size: 20px;
    }

    .contact-div-main {
        flex-direction: column;
    }

    .contact-image-div {
        padding: 0px;
        border-radius: 20px;

        & form {
            margin: 0px;
            width: 100%;

            & .inputBox {
                margin-bottom: 0px;

                & input {

                    margin: 10px;
                    padding: 15px;
                    border-radius: 15px;
                    font-size: 1em;
                    margin-bottom: 0px;
                }

                & textarea {
                    margin: 10px;
                    padding: 15px;
                    border-radius: 15px;
                    font-size: 1em;
                    margin-bottom: 0px;
                }
            }

            & .send {
                width: 100px;
                padding: 15px;
                font-weight: 400;
                font-size: 1em;
            }
        }
    }
}


@media (max-width: 768px) {

    .contact-title {
        font-size: 30px;
    }

    .contact-image-div {
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;

        & form {
            padding-top: 20px;
            width: 90%;
            margin: 0px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;

            & .inputBox {
                display: flex;
                flex-direction: column;
                margin-bottom: 0px;

                & input {
                    margin: 0px;
                    margin-bottom: 20px;
                    width: 100%;
                    padding: 20px 0px;
                    text-align: center;
                }

                & textarea {
                    width: 100%;
                    margin: 0px;
                    padding: 20px 0px;
                    text-align: center;
                }
            }

            & .send {
                width: 100%;
                margin: 0px;
                padding: 20px;
                margin-top: 40px;
                margin-bottom: 20px;
                height: 60px;
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');