$white: #ffffff;
$grey: #f8f5f9;
$grey1: #f0f0f0;
$grey2: #b8b8b8;
$grey3: #606060;
$grey4: #adadad;
$black: #121212;
$black2:rgb(44, 44, 44);
$blue: #232340;
$blue2: #252733;
$blue3: #d1ecfd;
$yellow: #e99e2d;
$yellow2: #b67b22;
$violet1: #4550e8;
$violet2: #5468e7;
$violet3: #3b4bb1;
@font-face {
    font-family: 'Agustina Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Agustina Regular'), url('./assets/fonts/Agustina.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./assets/fonts/Montserrat-Regular.ttf') format('woff');
    font-display: swap;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  html,
  body {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font: 19px / 23px Lato, 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Media Query */
  @media (max-width: 1380px) {
    html,
    body {
      font-size: 16px;
      line-height: normal;
    }
  }
  
  @media (prefers-color-scheme: light){
    body {
      background-color: $white;
    }
  }
  @media (prefers-color-scheme: dark){
    body {
      background-color: $black;
    }
  }


  
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');